body, p, h1, h2, ul, li, dd, dt, dl {
    margin: 0;
    padding: 0;
}

body {
	display: grid;
	grid-template-columns: 120px 1fr 120px;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	display: block;
    max-width: 100%;
}

ul {
	list-style: none;
}

.grid-all {
	grid-column: 1/4;
}

.grid-all-section {
	background: #7A3A5B;
    color: #FFF;
    display: grid;
	grid-column: 1/4;
	grid-template-columns: 120px 1fr 120px;
    padding: 100px 0;
}

.grid-section {
	display: grid;
	grid-column: 2/3;
	grid-template-columns: 120px 1fr 120px;
	padding: 100px 0;
}

.titulo-section {
	align-items: center;
	color: #CCAABE;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	grid-column: 1/5;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.titulo-section::after {
	content: "";
	background: #CCAABE;
	display: block;
	margin-top: 10px;
	height: 3px;
	width: 60px;
}

.btn {
	border: 3px solid #FFF;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: .1em;
	padding: 10px 50px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn:hover {
	color: #7A3A5B;
	border-color: #7A3A5B;
}

.titulo {
	color: #FFF;
	font-size: 3rem;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.subtitulo {
	color: #FFF;
}

.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0;
}

.header {
	background: #7A3A5B; 
	padding: 25px;
}

.header_menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header_menu ul {
    display: flex;
    flex-wrap: wrap;
	gap: 20px;
}

.header_menu ul li a {
	color: #CCAABE;
	font-weight: bold;
	letter-spacing: .1em;
	text-decoration: none;
	text-transform: uppercase;
}

.home {
    align-items: center;
	background-color: #CCAABE;
	background-position: center 54%;
	background-size: cover;
    display: grid;
    grid-template-columns: 43% 57%;
	height: 500px;
    justify-content: center;
	position: relative;
}

.img-home {
	background-image: url("./img/bne.jpg");
	background-position: center;
	background-size: cover;
	clip-path: polygon(0% 850%, 100% 0%, 0% -30%);
	height: 100%;
	width: 100%;
}

.text-home {
    align-items: baseline;
	display: flex;
    flex-direction: column;
    gap: 20px;
	animation: intro 2s forwards;
}

.content {
	display: flex;
	grid-column: 2;
}

.sobre-texto {
	align-items: center;
	display: flex;
}

.sobre-texto p {
	font-size: 1.2rem;
    text-align: justify;
    width: 80%;
}

.sobre-img {
    align-items: center;
	background-color: #CCAABE;
	border-radius: 50%;
    display: flex;
    justify-content: center;
	width: 50%;
}

.sobre-img img {
	border-radius: 50%;
    width: 90%;
}

.lista-beneficios {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 200px);
	justify-items: center;
    margin-top: 40px;
	width: 100%;
}

.item-lista-beneficios {
	display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
	width: 100%;
}

.item-lista-beneficios span {
	font-size: 1.2rem;
    text-align: center;
	width: 70%;
}

.img-beneficios {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
	box-shadow: 3px 0 10px #000;
    height: 100%;
	width: 50%;
}

.img-beneficios-1 {
	background-image: url("./img/imagem-3.jpg");
}

.img-beneficios-2 {
	background-image: url("./img/imagem-11.jpg");
}

.img-beneficios-3 {
	background-image: url("./img/imagem-13.jpg");
}

.content-depoimentos {
	display: grid;
    gap: 50px;
	grid-column: 2;
    grid-template-columns: repeat(3, 350px);
	margin-top: 40px;
}

.depoimento {
    align-items: center;
	display: flex;
    flex-direction: column;
	gap: 25px;
	justify-content: space-between;
}

.depoimento p {
	font-size: 1rem;
	font-style: italic;
	text-align: justify;
}

.perfil {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.perfil h2 {
	font-style: italic;
}

.perfil span {
	background: #7A5E6D;
    border-radius: 50%;
    color: #FFF;
    padding: 20px;
}

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: 2rem;
}

.faq-lista dt::before {
    content: '';
    background: #CCAABE;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 20px;
}

.faq-lista dd {
    font-family: Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.dados li {
	margin-bottom: .5rem;
}

.dados li::before {
	content: '';
    background: #CCAABE;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 20px;
}

.content-contato {
	display: flex;
	gap: 35px;
	grid-column: 2;
	margin-top: 2rem;
}

.copy {
	align-items: center;
	background: #7A3A5B;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 25px;
}

.copy p {
	color: #CCAABE;
}

.redes-sociais {
	display: flex;
	gap: 20px;
}

@media(max-width: 700px) {
    body {
        grid-template-columns: 1fr;
    }
}

@keyframes intro {
    from {
        opacity: 0;
		transform: translate3d(-30px, 10px, 0);
    }
    to {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }
}

.js .js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}

.js .js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .3s;
}

.js .js-accordion dd {
    display: none;
}

.js-accordion dt::after {
    content: '▾';
    margin-left: 10px;
}

.js-accordion dt.ativo::after {
    content: '▴';
}

.js-accordion dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}
