* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
	display: grid;
	grid-template-columns: 120px 1fr 120px;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	display: block;
    max-width: 100%;
}

ul {
	list-style: none;
}

.grid-all {
	grid-column: 1/4;
}

.grid-all-section {
	background: #D1569f;
    color: #FFF;
    display: grid;
	grid-column: 1/4;
	grid-template-columns: 120px 1fr 120px;
    padding: 100px 0;
}

.grid-section {
	grid-column: 2/3;
	padding: 100px 0;
}

.titulo-section {
	align-items: center;
	color: #CCAABE;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	grid-column: 1/5;
	letter-spacing: .1em;
	text-align: center;
	text-transform: uppercase;
}

.titulo-section::after {
	content: "";
	background: #CCAABE;
	display: block;
	margin-top: 10px;
	height: 3px;
	width: 60px;
}

.titulo {
	color: #FFF;
	font-size: 3rem;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.subtitulo {
	color: #FFF;
}

.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0;
}

.btn {
	border: 3px solid #FFF;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: .1em;
	padding: 10px 50px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn:hover {
	color: #D1569f;
	border-color: #D1569f;
}

.header {
    align-items: center;
	background: #D1569f;
	display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: flex-end;
	padding: 120px;
	padding-top: 0px;
    padding-bottom: 0px;
	z-index: 10;
}

.images-header {
	display: flex;
}

.caricatura {
	width: 15%;
	padding: 5px 0;
}

.hamburguer {
    align-items: center;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 30px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.hamburguer span {
    background-color: #CCAABE;
    border-radius: 30px;
    display: block;
    height: 3px;
    margin: 3px 0;
    transition: 0.5s;
    width: 100%;
}
  
.hamburguer span:nth-child(1), .hamburguer span:nth-child(3){
    transform-origin: right center;
}

.hamburguer.ativo span:nth-child(1){
    transform: rotateZ(-37deg);
}

.hamburguer.ativo span:nth-child(2){
    opacity: 0;
}

.hamburguer.ativo span:nth-child(3){
    transform: rotateZ(37deg);
}

.nav-hamburguer {
	align-items: center;
    border-bottom-left-radius: 50%;
    box-shadow: 0 0 0 100px #d1569f;
    display: none;
    flex-direction: column;
    gap: 15px;
    height: 30%;
    justify-content: start;
    position: absolute;
    right: 0;
    top: 120px;
    width: 90%;
    z-index: 1;
}

nav {
    background-color: #D1569f;
    padding: 10px;
}

nav a {
    color: #CCAABE;
    font-weight: bold;
    padding: 5px;
	text-transform: uppercase;
    text-decoration: none;
}

.mostrarNav {
    display: flex;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
	gap: 20px;
}

.header-menu ul li a {
	color: #CCAABE;
	font-weight: bold;
	letter-spacing: .1em;
	text-decoration: none;
	text-transform: uppercase;
}

.home {
    align-items: center;
	background-color: #CCAABE;
	background-position: center 54%;
	background-size: cover;
    display: grid;
    grid-template-columns: 43% 57%;
	height: 500px;
    justify-content: center;
	position: relative;
}

.img-home {
	clip-path: polygon(0% 850%, 100% 0%, 0% -30%);
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.img-home-item {
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.text-home {
    align-items: baseline;
	display: flex;
    flex-direction: column;
    gap: 20px;
	animation: intro 2s forwards;
}

.content {
	display: flex;
	grid-column: 2;
}

.sobre-texto {
	align-items: center;
	display: flex;
}

.sobre-texto p {
	font-size: 1.2rem;
    text-align: justify;
    width: 80%;
}

.sobre-img {
    align-items: center;
	background-color: #CCAABE;
	border-radius: 50%;
    display: flex;
    justify-content: center;
	width: 50%;
}

.sobre-img img {
	border-radius: 50%;
    width: 90%;
}

.lista-beneficios {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 200px);
	justify-items: center;
    margin-top: 40px;
	width: 100%;
}

.item-lista-beneficios {
	display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
	width: 100%;
}

.item-lista-beneficios span {
	font-size: 1.2rem;
    text-align: center;
	width: 70%;
}

.carousel-joias {
	display: block;
	grid-column: 1/4;
	width: 100%;
}

.group-carousel-joia {
	display: grid;
	grid-template-columns: repeat(5, 25%);
	grid-template-rows: 100%;
	height: 100%;
	justify-items: center;
	overflow: hidden;
	width: 100%;
}

.img-carousel-joia {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
	display: block;
    height: 100%;
	width: 80%;
}

.carousel-aplicacao {
	display: block;
	grid-column: 1/4;
	width: 100%;
}

.group-carousel-aplicacao {
	display: grid;
	grid-template-columns: repeat(5, 25%);
	grid-template-rows: 100%;
	height: 100%;
	justify-items: center;
	overflow: hidden;
	width: 100%;
}

.img-carousel-aplicacao {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
	display: block;
    height: 100%;
	width: 80%;
}

.carousel-depoimentos {
	display: block;
	grid-column: 1/2;
	width: 100%;
	height: 350px;
	margin-top: 25px;
}

.group-carousel-depoimentos {
	display: block;
	grid-template-columns: repeat(2,50%);
	grid-template-rows: 100%;
	height: 100%;
	justify-items: center;
	overflow: hidden;
	width: 100%;
}

.img-carousel-depoimentos {
	background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
	display: block;
    height: 82%;
	width: 80%;
}

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: 2rem;
}

.faq-lista dt::before {
    content: '';
    background: #CCAABE;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 20px;
}

.faq-lista dd {
    font-family: Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.content-contato {
	display: grid;
	grid-column: 2;
	grid-template-areas: 'mapa dados' 'mapa link';
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 25%;
	margin-top: 2rem;
	gap: 35px;
}

.content-contato iframe {
	grid-area: mapa;
}

.dados {
	grid-area: dados;
}

.dados li {
	line-height: 2;
}

.dados li::before {
	content: '';
    background: #CCAABE;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 20px;
}

.content-contato a {
	border: 3px solid #CCAABE;
	color: #CCAABE;
	cursor: pointer;
	font-weight: bold;
    height: 45px;
	letter-spacing: .1em;
	padding: 10px;
    text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 200px;
}

.content-contato a:hover {
	color: #000;
	border-color: #000;
}

.copy {
	align-items: center;
	background: #D1569f;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 25px;
}

.copy p {
	color: #CCAABE;
}

.redes-sociais {
	display: flex;
	gap: 20px;
}

@media only screen and (max-width: 1000px) and (min-width: 320px) {
    
	body {
        grid-template-columns: 1fr;
    }

	.grid-all, .grid-all-section, .grid-section {
		grid-column: 1;
		
	}
	
	.grid-all-section {
		grid-template-columns: none;
		padding: 100px 30px;
	}

	.titulo-section {
		grid-column: 1;
	}

	.header {
		grid-column: 1;
		padding: 20px;
	}

	.caricatura {
		height: 100px;
		width: 60px;
	}	

	.home {
		grid-template-columns: none;
	}

	.img-home {
		display: none;	
	}

	.text-home {
		padding: 0 25px;
	}

	.nav-hamburguer {
		grid-column: 1;
	}

	.header-menu ul {
		display: none;
	}

	.hamburguer{
		display: flex;
		grid-column: 1;	
		padding: 0px;
		margin-right: 30px;
	}

	.logo {
		height: 99px;
		width: 110px;
	}

	.content {
		align-items: center;
		flex-direction: column;
		gap: 35px;
		grid-column: 1;	
		padding-top: 20px;
	}

	.sobre-texto{
		grid-column: 1;	
		flex-direction: column;
	}

	.sobre-img{
		grid-column: 1;	
		align-items: normal;
		display: flex;
    	justify-content: center;
	}

	

	

	.lista-beneficios {
		gap: 50px;
		grid-template-columns: none;
		grid-template-rows: none;
	}
	
	.img-beneficios {
		display: none;
	}

	.carousel-joias {
		grid-column: initial;
		height: 300px;
	}

	.group-carousel-joia {
		gap: 20px 0;
		grid-template-columns: auto;
		
	}

	.carousel-aplicacao {
		grid-column: initial;
		height: 300px;
	}

	.group-carousel-aplicacao {
		gap: 20px 0;
		grid-template-columns: auto;	
	}

	.carousel-depoimentos {
		grid-column: initial;
		height: 300px;
	}

	.group-carousel-depoimentos {
		gap: 20px 0;
		grid-template-columns: auto;		
	}

	.contato {
		padding: 100px 30px;
	}
	
	.content-contato {
		grid-template-areas:
			'dados'
			'mapa'
			'link';
		grid-template-columns: 1fr;
		grid-template-rows: none;
		justify-items: center;
	}

	.content-contato iframe {
		height: 225px;
		width: 300px;
	}

	.copy p {
		text-align: center;
	}
}

@keyframes intro {
    from {
        opacity: 0;
		transform: translate3d(-30px, 10px, 0);
    }
    to {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }
}

.js .js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}

.js .js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .3s;
}

.js .js-accordion dd {
    display: none;
}

.js-accordion dt::after {
    content: '▾';
    margin-left: 10px;
}

.js-accordion dt.ativo::after {
    content: '▴';
}

.js-accordion dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
